
<% @question.votes.each do |vote| %>
<h3><%= vote.value %> <%= @question.title %></h3>
<% end %>

<h3><%= @question.title %></h3>

<p><%= @question.body %></p>

<a href="/questions/<%= @question.id %>/edit">Edit Question</a>
<%= erb :'questions/_delete', layout: false, locals: { question: @question } %>

<ul>
  <% @question.comments.each do |comment| %>
    <li><%= comment.body %></li>
  <% end %>
</ul>

<a href="/questions/<%= @question.id %>/upvote">up vote</a>
<a href="/questions/<%= @question.id %>/downvote">down vote</a>

<ul>
  <% @question.comments.each do |comment| %>
    <li><%=%> <%= comment.body %></li>
    <a href ='/question/<%=comment.id%>/upvote'>upvote </a>
    <a href ='/question/<%=comment.id%>/downvote'>downvote </a>
  <% end %>
</ul>

<p>Add a comment</p>

<form action='/questions/<%= @question.id %>/comments' method='post'>
<label for='body'> Add comment for question here--> </label>
 <input type="text" name="body">
 <input type="submit" value="Comment">
</form>

<%= erb :'/questions/_questions', layout: false, locals: { question: @question } %>

<ul>
  <% @question.answers.each do |answer| %>
    <li><%= answer.body %><br>
      <a href="/answer/<%=answer.id%>/edit">edit</a>
      <a href="/answer/<%=answer.id%>/delete"> delete</a>
    </li>
    <% answer.comments.each do |comment| %>
      <li><%= comment.body %></li>
    <% end %>
    <form action='/answers/<%= answer.id %>/comments'   method='post'>
      <input type="hidden" value="<%= @question.id %>" name="question_id" />
      <label for='body'>Add comment for answer here --></label>
      <input type="text" name="body">
      <input type="submit" value="Comment">
    </form>
     <% end %>
<ul>
  <% @question.answers.each do |answer| %>
    <li>
      <%= answer.votes[0].value %> <%= answer.body %>
      <a href ='/answer/<%=answer.id%>/edit'>edit </a>
      <a href = "/answer/<%=answer.id%>/delete"> delete </a>
      <a href ="/answer/<%=answer.id%>/upvote">up vote</a>
      <a href = "/answer/<%=answer.id%>/downvote">down vote</a>
    </li>

  <% end %>
</ul>

<form action="/questions/<%=@question.id%>/answer" method="post">
  <label for="answer">New Answer --></label>
  <input type="text" name="answer">
  <input type="submit" value="submit">
</form>
