<style>
  form { display: inline; }

  form input {
    background: none!important;
    border: none;
    padding: 0!important;
    font: inherit;
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
  }
</style>

<%= erb :'/questions/_questions', layout: false, locals: { question: @question } %>

<a href='/'>Return Home</a>

<ul>
  <% @question.answers.each do |answer| %>
  <li> <%= answer.body %> <a href ='/answer/<%=answer.id%>/edit'>edit </a> <a href = "/answer/<%=answer.id%>/delete"> delete </a></li>
  <% end %>
</ul>

<form action="/questions/<%=@question.id%>/answer" method="post">
  <label for="answer">Answer</label>
  <input type="text" name="answer">
  <input type="submit" value="submit">
</form>
